@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-public-sans);
  --font-mono: var(--font-public-mono);
  --color-Purple-600: hsl(238, 40%, 52%);
  --color-Pink-400: hsl(358, 79%, 66%);
  --color-Purple-200: hsl(239, 57%, 85%);
  --color-Pink-200: hsl(357, 100%, 86%);
  --color-Grey-800: hsl(212, 24%, 26%);
  --color-Grey-500: hsl(211, 10%, 45%);
  --color-Grey-100: hsl(223, 19%, 93%);
  --color-Grey-50: hsl(228, 33%, 97%);
  /* implement [Rubik](https://fonts.google.com/specimen/Rubik) */
}

body {
  background: var(--background);
  font-size: 16px;
  font-weight: 300;  
}
